

*{

margin: 0;
padding: 0;
box-sizing: border-box;
}
.login-container{
    display: flex;
    justify-content: center;
    background-color:rgb(128, 122, 122);
   height:200px;
   width: 300px;
   border-radius: 20px;
}
.divForm{
 width: 200px;
height: 100px;
display: flex;
flex-direction: column;
}
h2{

margin: 10px;

}

label{

display: flex;
justify-content: center;
margin: 10px;

}
input{

    border-radius: 10%;
    border-color: black;
}
.centralCont{

    background-color: rgb(148, 94, 12);
    display: flex;
    justify-content: center;




}